Repository Atlanstis/gypsophila-admin-vue3: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: git commit-msg 阶段校验
  .husky/commit-msg
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: 增加通过命令行方式提交 git
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: 配置 @ 路径别名
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix

chore: 安装 vue-router，并初始化基础路由
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/main.ts
  src/router/index.ts
  src/views/description/assets/style.css
  src/views/description/assets/vue.svg
  src/views/description/components/HelloWorld.vue
  src/views/description/index.vue
Due: prettier --write, eslint --fix

chore: 安装 pinia，并引入
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/store/index.ts
Due: prettier --write, eslint --fix

chore: 安装 less
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: 新增 normalize.css
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/styles/index.less
Due: prettier --write, eslint --fix

docs: package.json 增加homepage
  package.json
Due: prettier --write

feat: 采用 hooks 统一 echarts 操作
  package.json
  pnpm-lock.yaml
  src/hooks/use-echarts.ts
  src/hooks/use-event-listener.ts
  src/views/visualization/screen/components/center-two.vue
  src/views/visualization/screen/components/left-four.vue
  src/views/visualization/screen/components/left-one.vue
  src/views/visualization/screen/components/left-three.vue
Due: prettier --write, eslint --fix

feat: 采用 hooks 统一 eventListener 操作
  src/views/visualization/screen/components/screen-layout.vue
Due: prettier --write, eslint --fix

feat: 删除原本默认生成的页面，新增一个主页路由
  src/router/index.ts
  src/styles/index.less
  src/views/description/assets/style.css
  src/views/description/assets/vue.svg
  src/views/description/components/HelloWorld.vue
  src/views/description/index.vue
  src/views/main/index.vue
Due: prettier --write, eslint --fix

feat: 压缩大屏图片
  src/views/visualization/screen/assets/bg.png
  src/views/visualization/screen/assets/bottom-bar-long.png
  src/views/visualization/screen/assets/bottom-bar-short.png
  src/views/visualization/screen/assets/header.png
  src/views/visualization/screen/assets/left-bar.png
  src/views/visualization/screen/assets/rectification-icon.png
  src/views/visualization/screen/assets/right-bar.png
  src/views/visualization/screen/assets/small-title-bg.png
  src/views/visualization/screen/assets/statistical-bg.png
  src/views/visualization/screen/assets/texture.png
  src/views/visualization/screen/assets/title-bg-long.png
  src/views/visualization/screen/assets/title-bg-short.png
  src/views/visualization/screen/assets/tooltip-bg.png
Due: none

Path conditions:
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: package.json)) or (any of: *.vue)) or (any of: *.md)
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
